@import url("https://fonts.googleapis.com/css2?family=Gopher+Text:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Newake:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neutral+Face:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gopher:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-gopher-text: "Gopher Text";
  --font-newake: Newake;
  --font-neutral-face: "Neutral Face";
  --font-gopher: Gopher;

  /* font sizes */
  --font-size-77xl: 96px;
  --font-size-base: 16px;
  --font-size-5xl-2: 24.2px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-steelblue: #146c94;
  --color-white: #fff;
  --color-chocolate: #dd7639;
  --color-gray-100: rgba(255, 255, 255, 0.19);
  --color-gray-200: rgba(0, 0, 0, 0.95);
  --color-lavender: #cde4f4;
  --color-whitesmoke: #f6f1f1;
  --color-lightblue: #afd3e2;

  /* Gaps */
  --gap-4xs: 9px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-77xl: 96px;
  --padding-21xl: 40px;
  --padding-base: 16px;
  --padding-xl: 20px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-6xl-2: 25.2px;
}
